body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* overflow: scroll; */
    margin: 0;
}

#reveal-text{
    color: #ff6f61;
}
#message{
    color: #ff6f61;
}
img {
    max-width: 100%;
}

#reveal-text {
    font-size: 1.5rem;
}
@media (max-width: 767px) {
    body {
        background-color: #f8f9fa;
        font-family: 'Arial', sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        /* overflow: scroll; */
        margin: 0;
    }
    
    #reveal-text{
        color: #ff6f61;
        padding-top: 70vh;
        
    }
    
    img {
        max-width: 100%;
    }
    
    #reveal-text {
        font-size: 1.5rem;
    }
    #message{
        color: #ff6f61;
    }
}

